/build/classes/kotlin/main/META-INF/base-repo-katas.kotlin_module
/build/classes/kotlin/test/META-INF/base-repo-katas.kotlin_module
/build/reports/tests/test/css/base-style.css
/build/kotlin/compileKotlin/build-history.bin
/build/kotlin/compileTestKotlin/build-history.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/classes/kotlin/main/kata/Character$Companion.class
/build/classes/kotlin/main/kata/Character.class
/build/classes/kotlin/test/kata/CharacterTest.class
/.gradle/7.4/checksums/checksums.lock
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/.idea/compiler.xml
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i.len
/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/build/kotlin/compileTestKotlin/caches-jvm/lookups/counters.tab
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab.len
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab_i
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/build/classes/kotlin/main/kata/Health$Companion.class
/build/classes/kotlin/main/kata/Health.class
/build/classes/kotlin/main/kata/HealthCannotBeNegative.class
/build/classes/kotlin/main/kata/HealthCannotExceedMax.class
/build/classes/kotlin/test/kata/HealthTest$a Health cannot be negative$1.class
/build/classes/kotlin/test/kata/HealthTest.class
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab.len
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab_i
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/build/reports/tests/test/index.html
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/build/reports/tests/test/classes/kata.HealthTest.html
/build/reports/tests/test/packages/kata.html
/.idea/kotlinc.xml
/.gradle/7.4/fileChanges/last-build.bin
/build/kotlin/compileKotlin/last-build.bin
/build/kotlin/compileTestKotlin/last-build.bin
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab.len
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab_i
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/lookups/lookups.tab_i.len
/.idea/misc.xml
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/.gradle/7.4/checksums/sha1-checksums.bin
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab.len
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab_i
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/build/reports/tests/test/css/style.css
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/build/test-results/test/TEST-kata.HealthTest.xml
/.idea/vcs.xml
/.idea/workspace.xml
